//Title 

@mixin title {
    font-family: $font;
    font-weight: $font-bold;
    font-size: 14px;
    color: $color;
}

//Gradient For Text 

@mixin gradient-text {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-text;
}

//Hamburger Menu

@mixin hamburger-menu {
    position: relative;
    left: 50px;
    top: 20px;
    display: none;
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
}

@mixin hamburger-menu-before {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
}

@mixin hamburger-menu-after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
}

//Navigation

@mixin navigation__font {
    font-family: $font;
    font-weight: $font-regular;
    font-size: 13px;
    color: #FFFFFF;
}

@mixin navigation__link {
    text-decoration: none;
    color: #FFFFFF;
}

@mixin navigation__picture {
    margin-top: 30px;
}

@mixin navigation__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #c54556;
}

//Header

@mixin header__button {
    border: none;
    border-left: #f8f8f8 solid;
    padding: 30px 33px;
}

@mixin daily__main {
    font-family: $font;
    font-weight: $font-bold;
    font-size: 20px;
    margin: 9px 0px;
}

//Triangle

@mixin header__triangle {
    border-style: solid;
    border-width: 0 3px 6px 3px;
    border-color: transparent transparent #0a899f transparent;
}


//Number 

@mixin number {
    padding: 0px 5px;
    font-size: 12px;
    font-family: $font;
    color: #bfbfbf;
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}


@mixin mobile {
    @media (max-width: 415px) {
        @content;
    }

}