.aside {
    max-width: 237px;

    .aside__container {
        font-family: $font;

        .aside__buttons {
            background: $gradient;

            .aside__left-button {
                border: none;
                padding: 15px 37px;
                background: url(../img/aside/users.png) no-repeat center;
            }

            .aside__middle-button {
                border: none;
                padding: 15px 37px;
                background: url(../img/aside/chat-button.png) no-repeat center;
            }

            .aside__right-button {
                border: none;
                padding: 15px 37px;
                background: url(../img/aside/like.png) no-repeat center;
            }
            
        }

    }

}