.wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1298px;

    @include mobile {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

.side-bar {
    display: flex;
    flex-direction: column;
}