.main {
    max-width: 1025px;
    background: #ebebeb;

    @include mobile {
        display: flex;
        flex-direction: column;
        background: #ffffff;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        background: #ffffff;
    }

    .main__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: auto;
        margin: 20px;

        .main__graphics {
            background: #ffffff;

            @include mobile {
                overflow: scroll;
            }
        }

        .main__graphics-header {
            display: flex;
            flex-direction: row;

            .main__graphics-heading {
                margin: 31px;
                @include title;
            }

            .main__graphics-buttons {
                margin-left: 250px;
                margin-top: 30px;
                margin-right: 22px;

                .main__graphics-button {
                    font-size: 12px;
                    font-family: $font;
                    color: #bfbfbf;
                    border: none;
                    background: none;
                }

                .main__graphics-button:hover {
                    border-radius: 20px;
                    background: $gradient;
                }
            }
        }

        .main__graphics-picture {
            max-width: 664px;
            padding: 86px 332px;
            background: url(../img/main/graphics.png) 100%;
        }

        .main__reused-container {
            max-width: 264px;
            margin-left: 19px;
            background: #ffffff;

            .main__reused-header {
                margin: 31px 75px 5px 75px;
                @include title;
            }

            .main__revenue-picture {
                padding: 73px 93.5px;
                background: url(../img/main/revenue.png) no-repeat center;
            }

            .main__reused-numbers {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .number {
                    margin-top: 15px;
                    @include number;
                }
            }
        }

        .main__feed {
            max-width: 467px;
            margin: 19px 0px;
            background: #ffffff;

            .main__feed-header {
                margin: 30px;
                @include title;
            }

            .main__feed-main {
                display: flex;
                flex-direction: row;

                .main__feed-pictures {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 20px 30px;

                    .main__feed-status {
                        font-family: $font;
                        font-size: 8px;
                        color: #979796;
                    }
                }

                .main__feed-text {
                    margin-right: 30px;
                    font-family: $font;
                    font-size: 12px;
                    color: #bfbfbf;
                    
                    @include mobile {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .main__feed-span {
                        color: #777777;
                    }

                    .main__feed-upper-text {
                        max-width: 345px;
                        border: #bfbfbf solid;
                        border-width: 1px;
                        padding: 19px;
                        background: #fcfcfc;
                    }

                    .main__feed-middle-text {
                        max-width: 316px;
                        border-left: #bfbfbf solid;
                        border-width: 1px;
                        margin: 19px 0px 19px 49px;
                        padding: 19px;
                        background: #fcfcfc;

                        .main__feed-sophie-text {
                            padding: 19px 0px;
                        }
                    }

                    .main__feed-lower-text {
                        max-width: 345px;
                        border: #bfbfbf solid;
                        border-width: 1px;
                        margin: 19px 0px;
                        padding: 19px;
                        background: #fcfcfc;
                    }
                }
            }
        }

        .main__todays {
            max-width: 501px;
            max-height: 245px;
            margin: 19px 7px;
            background: #ffffff;

            .main__todays-title {
                margin: 30px;
                @include title;
            }

            .main__todays-checkbox {
                max-height: 160px;
                display: flex;
                flex-direction: column;
                overflow: auto;

                .main__todays-checkbox-element {
                    padding: 10px;
                    margin-right: 25px;
                    border-top: 1px solid #ededed;

                    .main__todays-checkbox-title {
                        font-family: $font;
                        font-weight: $font-bold;
                        font-size: 15px;
                        color: #FD566F;
                    }

                    .main__todays-checkbox-text {
                        font-family: $font;
                        font-weight: $font-regular;
                        font-size: 14px;
                        color: #bfbfbf;
                    }

                    .main__todays-checkbox-time {
                        padding-left: 30px;
                        font-family: $font;
                        font-weight: $font-bold;
                        color: #9C9C9C;
                        background: url(../img/main/clock-icon.png) no-repeat left;
                    }
                }
            }
        }

        .main__progress-picture {
            padding: 73px 93.5px;
            background: url(../img/main/progress.png) no-repeat center;
        }

        .main__shipments-picture {
            padding: 73px 93.5px;
            background: url(../img/main/shipment.png) no-repeat center;
        }
    }

}