.navigation {
    position: fixed;
    max-width: 70px;
    background: $gradient;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

    .navigation__logo {
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    .navigation__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include navigation__font;

        .navigation__link {
            @include navigation__link;
        }

        .navigation__menu-home {
            padding: 20px 17px;
            @include navigation__picture;
        }

        .navigation__menu-home:hover {
            background: #c54556;
        }

        .navigation__menu-statistics {
            padding: 20px 9px;
            @include navigation__picture;
        }

        .navigation__menu-statistics:hover {
            background: #c54556;
        }

        .navigation__menu-users {
            padding: 20px 18px;
            @include navigation__picture;
        }

        .navigation__menu-users:hover {
            background: #c54556;
        }

        .navigation__menu-settings {
            padding: 20px 11px;
            @include navigation__picture;
        }

        .navigation__menu-settings:hover {
            background: #c54556;
        }

        .navigation__menu-quires {
            padding: 20px 15px;
            margin-bottom: 92px;
            @include navigation__picture;
        }

        .navigation__menu-quires:hover {
            background: #c54556;
        }

        .navigation__menu-quires::after {
            @include navigation__triangle;
        }
    }

    .navigation__button {
        padding: 20px 35px;
        border: none;
        background: url(../img/navigation/button.png) no-repeat center;
    }
}